<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.teamrainbowofficials">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ll"
        android:label="Team RainBow"
        android:roundIcon="@drawable/ll"
        android:supportsRtl="true"
        android:theme="@style/Theme.TeamRainbowOfficials">
        <activity android:name=".send"></activity>
        <activity android:name=".response" />
        <activity android:name=".call" />
        <activity android:name=".tick" />
        <activity android:name=".cross" />
        <activity android:name=".nine" />
        <activity android:name=".eight" />
        <activity android:name=".seven" />
        <activity android:name=".sixth" />
        <activity android:name=".fifth" />
        <activity android:name=".fourth" />
        <activity android:name=".Third" />
        <activity android:name=".second" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>